* {
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}

body{
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
    min-width: 230px;
    font-size: 14pt;
    font-family: Monaco, Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

.none{
    display: none;
}
li{
    list-style: none;
}

.container{
    z-index: 2;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    position: relative;
}

.time-box{
    min-height: 120px;

}

.date{
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
}

.day{
    float: left;
    /*font-weight: bold;*/
    font-size: 50px;
    color: #333333;
    padding: 2px;
    margin: 2px;
}

.month{
    float: left;
    font-weight: bold;
    font-size: 20px;
    color: grey;
    padding: 2px;
}

.year{
    float: left;
    font-weight: bold;
    font-size: 20px;
    color: grey;
    padding: 2px;
}

.time{
    float: right;
    margin-top: 30px;
    margin-bottom: 20px;
}

.clock{
    /*font-weight: bold;*/
    font-size: 50px;
    color: #333333;
    padding: 2px;
}

.tool-box{
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.1);

}

.tool-bar{
    text-align: center;
    position: relative;

    padding: 15px 10px;
    width: 100%;
    height: 45px;

    /*font-style: italic;*/
    font-size: 12px;
    /*font-weight: bold;*/
    color: #888888;

    box-sizing: border-box;
    /*border: 1px solid rgba(10, 10, 10, 0.3);*/
    border-radius: 0 0 3px 3px;

}

.todo-count{
    float: left;
    text-align: left;
    /*font-size: 18px;*/
    font-weight: bold;
    margin-left: 10px;
}

.tool-list{
    list-style: none;
    margin: 0;
    padding: 0;
    left: 100px;
    right: 20px;
    position: absolute;
}

.tool-list li{
    display: inline;
    /*margin: 0 5px;*/
    cursor: pointer;
}

.tool-list a{
    border: 1px solid transparent;
    border-radius: 2px;

    padding: 3px 7px;
}

.tool-list a:hover{
    border-color: #888888;
}

.tool-list a.selected{
    border-color: #888888;
}

.all{

}

.ongoing{

}

.completed{

}

.clear-complete{
    float: right;
    position: relative;
    margin: 0;
    padding: 3px 7px;
    background: none;
    border: solid 1px transparent;
    border-radius: 2px;

    /*font-style: italic;*/
    font-size: 12px;
    font-weight: bold;
    color: #888888;
    line-height: 8px;
    cursor: pointer;
}

.clear-complete:hover{
    /*border-color: rgba(255, 0, 0, 10);*/
    color: rgba(255, 0, 0, 0.5);
    text-decoration-line: underline;
}

.clear-complete:visited{
    font-size: 12px;
    font-weight: bold;
    color: #888888;
    line-height: 8px;
}

.clear-complete:active{
    border: none;
}

.input-box{

}

.input-todo, .edit{
    position: relative;
    padding: 12px 12px 12px 40px;
    margin: 0;
    width: 100%;

    font-size: 14px;

    letter-spacing: 1px;
    color: #888;

    border: none;
    box-sizing: border-box;
    /*border-radius: 3px 3px 0 0;*/
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    /*box-shadow: #888888 2px 2px;*/
}

.edit{
    /*height: 52px;*/
    width: 100%;

    /*margin-left: 60px;*/
    padding: 15px 15px 15px 14px;
    display: block;
    font-size: 20px;
    box-sizing: border-box;
}

.input-todo:focus, .edit:focus{
    /*outline: none;*/
    outline-color: #010101;
}

.input-label{
    font-size: 14px;
    /*font-style: italic;*/
    letter-spacing: 1px;
    color: #888888;
    position: relative;
    pointer-events: none;
    text-transform: uppercase;
    left: 45px;
    top: -34px;
    transition: all .2s ease;
}

/*JS control*/
.input-label-focused{
    font-size: 12px;
    /*font-style: italic;*/
    letter-spacing: 5px;
    top: -55px;
    left: 60px;
    margin-top: 0;
    padding: 2px 5px 1px;
    background-color: #fff;
}

.input-deadline{
    float: right;
    position: relative;
    padding: 5px 5px 5px 5px;
    margin: 0;
    width: auto;

    font-size: 10px;
    /*font-style: italic;*/
    font-family: inherit;

    letter-spacing: 1px;
    color: #888;

    border: none;
    /*border-radius: 2px;*/
    /*box-sizing: border-box;*/
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.1);

}

.input-deadline:focus{
    /*outline: none;*/
    outline-color: #010101;
}

.input-deadline:before{
    padding: 2px;
    margin: 2px 5px 2px 2px;

    content: "DEADLINE:";
    font-weight: normal;
    color: black;
    /*font-size: 20px;*/
    /*color: #ffffff;*/
    /*background-color: #888888;*/

}

.item-box{
    width: 100%;
    margin-top: 70px;
}

.box{
    margin-bottom: 30px;

    border-radius: 5px;

    min-height: 100px;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.1);

    position: relative;
}

.item-deadline{
    position:relative;
    top: -8px;
    right: -15px;

    padding: 5px 15px;

    font-size: 20px;
    font-family: Monaco, sans-serif;
    /*font-weight: bold;*/
    /*letter-spacing: 2px;*/
    color: white;

    border-radius: 5px;
    background-color: #888888;
}

.item-content{
    position: relative;
    /*min-height: inherit;*/
    padding: 10px;
    margin-top: 10px;
}

.item-list{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 20px;
    /*text-align: center;*/
}

.item-list li{
    position: relative;
    width: 95%;

    border-radius: 2px;
    /*background: #e6e6e6;*/
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: move;
}

.item-list li.editing .view{
    display: none;
}

.view{
    overflow: hidden;
}

/*TODO */
.toggle{
    width: 20px;
    height: 20px;
    top: 0;
    bottom: 0;

    position: absolute;
    /*border-radius: 10px;*/
    margin: auto 0 auto 20px;

    -webkit-appearance: none;
    background-color: transparent;
    outline: none;
    /*display: none;*/
    /*border-right: 40px solid transparent;*/

    cursor: pointer;
}

.toggle{
    /*display: none;*/
    content: url("../icon/circle_empty.svg");
    /*overflow: hidden;*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 15px solid transparent;*/

    /*-webkit-filter: drop-shadow(0 0 darkred) ;*/
    /*filter: drop-shadow(0 0 darkred);*/
}

.toggle:checked{
    /*display: none;*/
    content: url("../icon/circle.svg");
    /*overflow: hidden;*/
    /*-webkit-filter: drop-shadow(0 0 darkred) ;*/
    /*filter: drop-shadow(0 0 darkred);*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 15px solid transparent;*/

}

.toggle0{
    /*display: none;*/
    content: url("../icon/circle_empty1.svg");
    size: 15px;
    /*overflow: hidden;*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 15px solid transparent;*/

    /*-webkit-filter: drop-shadow(0 0 darkred) ;*/
    /*filter: drop-shadow(0 0 darkred);*/
}

.toggle0:checked{
    /*display: none;*/
    content: url("../icon/circle_1.svg");
    /*overflow: hidden;*/
    /*-webkit-filter: drop-shadow(0 0 darkred) ;*/
    /*filter: drop-shadow(0 0 darkred);*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 15px solid transparent;*/

}

.toggle1{
    /*display: none;*/
    content: url("../icon/circle_empty2.svg");
    /*overflow: hidden;*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 15px solid transparent;*/

    /*-webkit-filter: drop-shadow(0 0 darkred) ;*/
    /*filter: drop-shadow(0 0 darkred);*/
}

.toggle1:checked{
    /*display: none;*/
    content: url("../icon/circle_2.svg");
    /*overflow: hidden;*/
    /*-webkit-filter: drop-shadow(0 0 darkred) ;*/
    /*filter: drop-shadow(0 0 darkred);*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 15px solid transparent;*/

}

.toggle2{
    /*display: none;*/
    content: url("../icon/circle_empty3.svg");
    /*overflow: hidden;*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 15px solid transparent;*/

    /*-webkit-filter: drop-shadow(0 0 darkred) ;*/
    /*filter: drop-shadow(0 0 darkred);*/
}

.toggle2:checked{
    /*display: none;*/
    content: url("../icon/circle_3.svg");
    /*overflow: hidden;*/
    /*-webkit-filter: drop-shadow(0 0 darkred) ;*/
    /*filter: drop-shadow(0 0 darkred);*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 15px solid transparent;*/

}

.toggle3{
    /*display: none;*/
    content: url("../icon/circle_empty4.svg");
    /*overflow: hidden;*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 15px solid transparent;*/

    /*-webkit-filter: drop-shadow(0 0 darkred) ;*/
    /*filter: drop-shadow(0 0 darkred);*/
}

.toggle3:checked{
    /*display: none;*/
    content: url("../icon/circle_4.svg");
    /*overflow: hidden;*/
    /*-webkit-filter: drop-shadow(0 0 darkred) ;*/
    /*filter: drop-shadow(0 0 darkred);*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 15px solid transparent;*/

}


.todo-label{
    padding: 15px 60px 15px 8px;
    margin-left: 60px;
    /*margin-bottom: 30px;*/
    /*margin: 20px 0 20px 80px;*/
    color: #888888;
    display: block;
    transition: color 0.4s;

    letter-spacing: 1px;
    /*border-bottom: 1px solid #aaaaaa;*/
    cursor: move;

}

.label-completed{
    text-decoration-line: line-through;
    color: #eeeeee;
    /*font-style: italic;*/
}

/* Reference .destroy .css of TodoMVC */
.edit-button{
    /*display: none;*/
    position: absolute;
    margin: auto 10px 19px 0;
    padding: 0;

    top: 0;
    right: 10px;
    bottom: 0;
    width: 22px;
    height: 22px;

    font-size: 40px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;

    background: url("../icon/edit.png") no-repeat;
    border: none;
    -webkit-appearance: none;
    outline: none;

    cursor: pointer;

}

.edit-button:hover{
    background: url("../icon/edit1.png") no-repeat;
}

.item-list li:hover .edit-button {
    display: block;
}
/* Reference .destroy .css of TodoMVC */

/* Reference .css of TodoMVC */
.toggle-all {
    z-index: 3;
    position: relative;
    top: 36px;
    left: -20px;
    width: 16px;
    height: 16px;
    text-align: center;
    border: none; /* Mobile Safari */
    outline: none;

    background: none;
    -webkit-appearance: none;

    /*transform: rotate(90deg);*/
}

label[for='toggle-all'] {
    display: none;
}

.toggle-all:before {
    /*background-image: url("icon/all_down.svg");*/
    /*content: ;*/
    content: url("../icon/all_down.svg");
    font-size: 14px;
    padding: 10px 27px 10px 27px;
}

.toggle-all:checked:before {
    /*background-image: url("icon/all_down.svg");*/
    content: url("../icon/all_circle.svg");
}
